/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Oct 2, 2017, 6:51:59 AM

*/



 .elem {
      
	position: relative;
	bottom: 0;
	-webkit-transition: bottom 0.5s ease;
	-moz-transition: bottom 0.5s ease;
	-o-transition: bottom 0.5s ease;
	transition: bottom 0.5s ease;
       height: 71px;
}
.elem:hover {
	bottom: 8px;
      
}




.rocket {
    height: 0;
    top: 70%; /** this sets the start point from were the text move up **/
    overflow: hidden;
    transition: height 0.1s; /** sets the speed to how fast the background changes **/
  
}

.axis:hover .move-up {
     height: 9em; /** this sets the height of the text move-up and down space **/
    transform: translate(0,-110px); /** this sets how big you want the feild for this text to move up you have to change all 4  **/
    -webkit-transform: translate(0,-110px);
    -o-transform: translate(0,-110px); 
    -moz-transform: translate(0,-110px);
  
}

.object {
    
    position: absolute;
    transition: all 0.5s ease-in-out; /** this is how fast the text move up **/
    -webkit-transition: all 0.5s ease-in-out; /** Chrome & Safari **/
    -moz-transition: all 0.5s ease-in-out; /** Firefox **/
    -o-transition: all 0.5s ease-in-out; /** Opera **/
}



.gi-3x{ 
        font-size: 2em; /** this is to change the size of the image  **/
        position: relative;
        left: 45%;
        }


 

.elem:hover { 
    background-color: #e5e5e5; 
    height: 300px;
}

.text_center { 
    position: relative; 
    text-align: center;
}
/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
}

/* The Close Button */
.close {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

/* The Modal (background) */
.modals {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 10px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-contents {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
}

/* The Close Button */
.closes {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.closes:hover,
.closes:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}


/* The Modal (background) */
.modal_Draw {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 10px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content-Draw {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
}

/* The Close Button */
.close_Draw {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close_Draw:hover,
.close_Draw:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}


/* The Modal (background) */
.modal_About{
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 10px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content-About {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
}

/* The Close Button */
.close_About {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close_About:hover,
.close_About:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}


